@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<h4>@ViewData["Message"]</h4>

<h4>Professor: @ViewData["Professor"]</h4>
<br />
<adress>
        <strong> More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</adress>
