@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br/>
<h4>@ViewData["Message"]</h4>

<address>
    .NET Developer in training<br />
    Campinas/SP<br />
    Brazil<br />
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/amiquilini">amiquilini</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/amandamiquilini/">Amanda Miquilini</a>
</address>
