@model SalesWebMVC.Models.ViewModels.SaleFormViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sale.Id" class="control-label"></label>
                <input asp-for="Sale.Id" class="form-control" />
                <span asp-validation-for="Sale.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Status" class="control-label"></label>
                <select asp-for="Sale.Status" asp-items="@(new SelectList(Model.Status))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Date" class="control-label"></label>
                <input asp-for="Sale.Date" class="form-control" />
                <span asp-validation-for="Sale.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Amount" class="control-label"></label>
                <input asp-for="Sale.Amount" class="form-control" />
                <span asp-validation-for="Sale.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.SellerId" class="control-label"></label>
                <select asp-for="Sale.SellerId" asp-items="@(new SelectList(Model.Sellers, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}